body {
    background: wheat;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

#Title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: blueviolet;
}

.Post {

    background: yellow;
    padding: 15px;
    border: 2px solid #444;
    margin-bottom: 10px;
    border-radius: 5px;
}

#Title, .Subtitle, .Post_Title {
    color: blue
}

.Post_Title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post_content {

    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;

}

.post_img {
    margin-bottom: 15px;
    width: 100%;
}

.top_img {
    border: 1px solid #444;
    border-radius: 50%;
}

.list {
    list-style-type: none;
    padding-left: 15px;
}